<img id="banner" src="http://i.imgur.com/SzFVJBp.jpg"/>

<canvas id="c"></canvas>
<button id="toggle_edit" onclick="toggle_edit()">Edit</button>
<button id="toggle_edit" onclick="test()">Test</button>
<button onclick="showImage()">Hide Image</button>
<button onclick="placeImage()">Place Image</button>
<button onclick="removeImage()">Remove Image</button>
<button onclick="displayAsImage()">DisplayAsImage</button>
<input type="file" onchange="previewFile()" id="myimage" name="image" accept="image/*" capture>

<img id="loadingImage" height="1"  style="visibility:hidden"/>

<%= content_tag :div, class: "floorplan_class", data: {floorplan: @floorplan} do %>
<% end %>
<%= content_tag :div, class: "walls_class", data: {walls: @walls} do %>
<% end %>

<%= link_to 'Back', floorplans_path %>