<img id="banner" src="http://i.imgur.com/SzFVJBp.jpg"/>

<canvas id="c"></canvas>
<button id="toggle_edit" onclick="toggle_edit()">Edit</button>
<button onclick="showImage()">Hide Image</button>
<button onclick="placeImage()">Place Image</button>
<button onclick="removeImage()">Remove Image</button>
<button onclick="displayAsImage()">DisplayAsImage</button>
<input type="file" onchange="previewFile()" id="myimage" name="image" accept="image/*" capture>

<% end %>
<img id="loadingImage" height="1"  style="visibility:hidden"/>
<%= link_to 'Back', floorplans_path %>
