<h1>New Floorplan</h1>

<%= render 'form' %>

<br>
<form action="server.cgi" method="post" enctype="multipart/form-data">
<input type="file" onchange="previewFile()" id="myimage" name="image" accept="image/*" capture>
</form>


<img id="loadingImage" height="200"  style="visibility:visible"/>
<br>
<button onclick="showImage()">Hide Image</button>
<br>
<br>
<button id="save_floorplan" onclick="save_floorplan()">Done With Edits</button>


<%= content_tag :div, class: "points_class", data: {points: @points} do %>
<% end %>

<canvas id="c"></canvas>

<%= link_to 'Back', floorplans_path %>