<h1>New Floorplan</h1>

<button onclick="load_points()">Load Points</button>
<button onclick="show_points()">Show Points</button>
<button onclick="find_intersection()">Find Intersection</button>


<%= content_tag :div, class: "points_class", data: {points: @points} do %>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', floorplans_path %>
