<h1>New Point</h1>

<button onclick="start_tracking()">Start Tracking</button>
<button onclick="stop_tracking()">Stop tracking</button>
<button onclick="save()">Save Point</button>

<div id="values">
    <p id="alpha">Idle</p>
    <p id="accelerometer_x"></p>
    <p id="accelerometer_y"></p>
    <p id="accelerometer_z"></p>
    <p id="velocity_x"></p>
    <p id="velocity_y"></p>
    <p id="pos_x"></p>
    <p id="pos_y"></p>
    <p id="t"></p>
</div>

<button onclick="done()">Save The Floor Plan</button>