<h1>New Floorplan</h1>

<button onclick="start_tracking()">Actively track values</button>
<button onclick="stop_tracking()">Stop tracking</button>
<button onclick="put_values_in_article()">Enter values</button>

<div id="values">
    <p><u>Data</u></p>
    <p>F1 shows the initial acceleration numbers, which are used as calibration constants for the rest of the calculations. The other data represents the values gathered from the phone's accelerometer and gyroscope.</p>
    <p id="orientation"></p>
    <p id="f1_x"></p>
    <p id="f1_y"></p>
    <p id="f1_z"></p>
    <p id="accelerometer_x"></p>
    <p id="accelerometer_y"></p>
    <p id="accelerometer_z"></p>
    <p id="totaccel"></p>
    <p id="avg_a"></p>
    <p id="accelerometer_y"></p>
    <p id="accelerometer_z"></p>
    <p id="gyroscope_alpha"></p>
    <p id="gyroscope_beta"></p>
    <p id="gyroscope_gamma"></p>
    <p id="count"></p>
    <p id="time"></p>
    <p><u>Version 5: Stops velocity drift.</u></p>
    <p id="tota3"></p>
    <p id="tota3xy"></p>
    <p id="a5_x"></p>
    <p id="a5_y"></p>
    <p id="a5_z"></p>
    <p id="vel5_x"></p>
    <p id="vel5_y"></p>
    <p id="vel5_z"></p>
    <p id="dist5_x"></p>
    <p id="dist5_y"></p>
    <p id="dist5_z"></p>
    <p id="dist5xy"></p>
    <p id="dist5xyz"></p>
    <br><br><br><br><br>
    <p><u>Version 1: 0.5*A*T^2</u></p>
    
    <p id="f_x"></p>
    <p id="f_y"></p>
    <p id="f_z"></p>
    <p id="vel_x"></p>
    <p id="vel_y"></p>
    <p id="vel_z"></p>
    <p id="avg_x"></p>
    <p id="avg_y"></p>
    <p id="avg_z"></p>
    <p id="a_x"></p>
    <p id="a_y"></p>
    <p id="a_z"></p>
    <p id="distance_x"></p>
    <p id="distance_y"></p>
    <p id="distance_z"></p>
    <br>
    <p><u>Version 2:Calibrate at using inital acceleration. Updates velocity and distance at each tick.</u></p>
    <p id="a2_x"></p>
    <p id="a2_y"></p>
    <p id="a2_z"></p>
    <p id="vel2_x"></p>
    <p id="vel2_y"></p>
    <p id="vel2_z"></p>
    <p id="dist2_x"></p>
    <p id="dist2_y"></p>
    <p id="dist2_z"></p>
    <br>
    <p><u>Version 3:Uses gyroscope angles to determine effect of gravity. </u></p>
    
    <p id="gr_x"></p>
    <p id="gr_y"></p>
    <p id="gr_z"></p>
    <p id="gr2_x"></p>
    <p id="gr2_y"></p>
    <p id="gr2_z"></p>
    <p id="dif_agx"></p>
    <p id="dif_agy"></p>
    <p id="dif_agz"></p>
    <p id="a3_x"></p>
    <p id="a3_y"></p>
    <p id="a3_z"></p>
    <p id="vel3_x"></p>
    <p id="vel3_y"></p>
    <p id="vel3_z"></p>
    <p id="dist3_x"></p>
    <p id="dist3_y"></p>
    <p id="dist3_z"></p>
    <p id="totdist3"></p>
    <p><u>Version 4:Rounds accelerations to nearest 0.1.</u></p>
    <p id="avga3x"></p>
    <p id="avga3y"></p>
    <p id="avga3z"></p>
    <p id="a4_x"></p>
    <p id="a4_y"></p>
    <p id="a4_z"></p>
    <p id="vel4_x"></p>
    <p id="vel4_y"></p>
    <p id="vel4_z"></p>
    <p id="dist4_x"></p>
    <p id="dist4_y"></p>
    <p id="dist4_z"></p>
    

    
</div>

<%= render 'form' %>

<%= link_to 'Back', floorplans_path %>
