<h1>New Floorplan</h1>

<div id = "calibrate">Calibrate</div>
<div id = "start_tracking">Start Tracking</div>
<div id = "x">X</div>
<div id = "y">Y</div>
<div id = "z">Z</div>
<div id = "alpha">alpha</div>
<div id = "beta">beta</div>
<div id = "gamma">gamma</div>


<%= render 'form' %>

<%= link_to 'Back', floorplans_path %>
