<h1>New Floorplan</h1>

<button onclick="start_tracking()">Actively track values</button>
<button onclick="stop_tracking()">Stop tracking</button>
<button onclick="calibrate()">Calibrate</button>
<button onclick="stop_tracking()">Stop calibration</button>

<div id="values">
    <p id="orientation"></p>
    <p id="accelerometer_x"></p>
    <p id="accelerometer_y"></p>
    <p id="accelerometer_z"></p>
    <p id="gyroscope_alpha"></p>
    <p id="gyroscope_beta"></p>
    <p id="gyroscope_gamma"></p>
    <p id="velocity_x"></p>
    <p id="velocity_y"></p>
    <p id="pos_x"></p>
    <p id="pos_y"></p>
    <p id="compensate_acc_x"></p>
    <p id="compensate_acc_y"></p>
    <p id="compensate_acc_z"></p>
</div>

<%= render 'form' %>

<%= link_to 'Back', floorplans_path %>
