<h1>New Floorplan</h1>

<button id="save_floorplan" onclick="save_floorplan()">Done With Edits</button>
<button onclick="lock_camera()">Lock</button>
<button onclick="showImage()">Hide Image</button>
<br><br>
<form action="server.cgi" method="post" enctype="multipart/form-data">
<input type="file" onchange="previewFile()" id="myimage" name="image" accept="image/*" capture>
</form>


<img id="loadingImage" height="200" src="http://loveshav.com/wp-content/uploads/2013/11/Alaskan-Klee-Kai-puppy-6.jpg" style="visibility:visible"/>


<%= content_tag :div, class: "points_class", data: {points: @points} do %>
<% end %>

<canvas id="c"></canvas>

<%= link_to 'Back', floorplans_path %>