<h1>New Floorplan</h1>

<button onclick="load_points()">Load Points</button>
<button onclick="draw_walls()">Draw Walls</button>

<%= content_tag :div, class: "points_class", data: {points: @points} do %>
<% end %>

<canvas id="c"></canvas>


<%= link_to 'Back', floorplans_path %>
