
<h1>New Room</h1>

<button type="button" class="btn btn-primary btn-lg" onclick="save()">
  Save Point
</button>
<body onload="start_up();">
<h3 id="tracking"></h3>

<!-- div for tracking numbers -->
<!-- Hidden for the usability test -->
<div id="values" style="display; none;">
    <p id="alpha"></p>
    <p id="accelerometer_x"></p>
    <p id="accelerometer_y"></p>
    <p id="accelerometer_z"></p>
    <p id="velocity_x"></p>
    <p id="velocity_y"></p>
    <p id="pos_x"></p>
    <p id="pos_y"></p>
    <p id="lasta"></p>
    <p id="lastx"></p>
    <p id="lasty"></p>
    <p id="t"></p>
</div>


<div id="myAlert" class="alert alert-info fade" data-alert="alert">Wall Saved!</div>

<div class="modal fade modal" id = helpModal tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
	<br>
	<font size="5">How to Create a Floor Plan</font>
	<br><br>
	Keep your phone parallel to the floor during the entire measuring process
	<br>
	<img src="<%= asset_path("crystal-profile.png") %>" alt="profile" style="width:298px;height:428px">
	<br>
	Hold the top of your phone against each wall of the room and hit "Save Point"
	<br>
	<img src="<%= asset_path("crystal-topdown.png") %>" alt="profile" style="width:298px;height:200px">
	<br><br>
	<button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
	<br><br>
    </div>
  </div>
</div>
<!-- end popup div -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">What do you want to call this floor plan?</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="done()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Done
</button>

<!-- Button trigger Help modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#helpModal">
  Help!
</button>
