
<h1>New Point</h1>

<button onclick="start_tracking()">Start Tracking</button>
<button onclick="save()">Save</button>

<div id="values">
    <p id="accelerometer_x"></p>
    <p id="accelerometer_y"></p>
    <p id="accelerometer_z"></p>
    <p id="gyroscope_alpha"></p>
    <p id="gyroscope_beta"></p>
    <p id="gyroscope_gamma"></p>
</div>


<%= link_to 'Back', points_path %>
