<h1>New Room</h1>

<button id="start_tracking" onclick="start_tracking()">Start Tracking</button>
<button onclick="save()">Save Point</button>

<h3 id="tracking"></h3>

<!-- div for tracking numbers -->
<!-- Hidden for th usability test -->
<div id="values" style="display: none;">
    <p id="alpha">Idle</p>
    <p id="accelerometer_x"></p>
    <p id="accelerometer_y"></p>
    <p id="accelerometer_z"></p>
    <p id="velocity_x"></p>
    <p id="velocity_y"></p>
    <p id="pos_x"></p>
    <p id="pos_y"></p>
    <p id="t"></p>
</div>


<div id="saved_not" class="alert success fade" data-alert="alert">This is the alert.</div>





<button onclick="done()">Done</button>
